@import "src/scss/mixin/flex-box";

.app {
    @include flex-box(column, flex-start, flex-start, nowrap);
    width: 100%;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;

    > * {
        margin-top: 30px;
    }
}