@import "src/scss/mixin/flex-box";

.bullet-list {
    @include flex-box(row, center, center, wrap);
    width: 100%;
    list-style: none;

    &__bullet {
        @include flex-box(row, center, center, nowrap);
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        margin-right: 5px;
        content: '';
        border-radius: 50%;
        background: grey;
        cursor: pointer;
    }
}